.window {
    padding: 5px 20px;
}

.window p {
    margin-bottom: 40px;
}

.close {
    position: absolute;
    top: 50px;
    right: 40px;
    border: none;
    background: transparent;
    font-size: 30px;
    cursor: pointer;
}

.submit {
    margin-top: 20px;
    background-color: #047d9546;
    float: right;
}

.accent {
    color: #047d95;
}

.permissions {
    margin-top: 90px;
    border-radius: 10px;
    background-color: #047d9517;
    padding: 20px
}

.permissions p {
    margin-bottom: 10px;
}

.title {
    margin-bottom: 10px;
    font-weight: 500;
}

.permissions .description {
    font-size: smaller;
    color: gray;
    font-style: italic;
}

.scroll {
    max-height: 180px;
    height: 180px;
}